# Node.js (Frontend)
frontend/node_modules
frontend/dist
frontend/.env
frontend/.DS_Store

# Python (Backend)
backend/__pycache__/
backend/venv/
backend/.env

# General
*.log
.vscode/
.idea/
.DS_Store
