body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.chat-bubble:hover {
  transform: scale(1.1);
}

.chat-bubble {
  transition: transform 0.3s ease-in-out;
}

.chat-box {
  background-color: white;
  color: black;
}

.ant-btn-primary {
  background-color: #C70039 !important; /* Deep Red */
  border-color: #C70039 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 1s ease-in-out;
}
/* @keyframes backgroundZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.museum-background {
  animation: backgroundZoom 5s ease-in-out infinite alternate;
} */

@keyframes floatEffect {
  0% { transform: translate(-50%, -50%) translateY(0); }
  50% { transform: translate(-50%, -50%) translateY(-5px); }
  100% { transform: translate(-50%, -50%) translateY(0); }
}

#chatbot-box {
  animation: floatEffect 3s ease-in-out infinite;
}
